---
export const prerender = false; // Desactivamos el prerender para permitir rutas dinámicas

import { getTopTracks } from '../../lib/spotify';
import PreviewPlayer from '../../components/vue/PreviewPlayer.vue';
import FavoriteButton from '../../components/react/FavoriteButton.jsx';

const id = Astro.params.id;
const tracks = await getTopTracks();
const track = tracks.find((t) => t.id === id);
---
<html>
  <head>
    <title>{track.name}</title>
  </head>
  <body>
    <h1>{track.name}</h1>
    <p>Artista: {track.artists[0].name}</p>
    <img src={track.album.images[0].url} width="300" />

    <PreviewPlayer client:load previewUrl={track.preview_url} />
    <FavoriteButton client:visible songId={track.id} />
  </body>
</html>
