---
import { getEntryBySlug } from 'astro:content';
import PreviewPlayer from '../../components/vue/PreviewPlayer.vue';
import FavoriteButton from '../../components/react/FavoriteButton.jsx';
import { getCollection } from 'astro:content';


export async function getStaticPaths() {
  const entries = await getCollection('canciones');
  return entries.map(entry => ({
    params: { slug: entry.slug },
  }));
}

const slug = Astro.params.slug;
const entry = await getEntryBySlug('canciones', slug);

if (!entry) throw new Error(`Canción no encontrada: ${slug}`);

const { id, name, artist, image, preview_url } = entry.data;
---

<html>
  <head>
    <title>{name}</title>
  </head>
  <body>
    <h1>{name}</h1>
    <p>Artista: {artist}</p>
    <img src={image} width="300" />

    <PreviewPlayer client:load previewUrl={preview_url} />
    <FavoriteButton client:visible songId={id} />
  </body>
</html>
